In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('C:/Users/Rahul Soni/Downloads/tested.csv')

In [9]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [11]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [13]:
df.duplicated().sum()

0

In [15]:
df['Age']

0      34.5
1      47.0
2      62.0
3      27.0
4      22.0
       ...
413     NaN
414    39.0
415    38.5
416     NaN
417     NaN
Name: Age, Length: 418, dtype: float64

In [17]:
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [19]:
df['Age'].isnull().sum()

0

In [21]:
df['Age'] = df['Age'].apply(np.int64)

In [23]:
df['Age']

0      34
1      47
2      62
3      27
4      22
       ..
413    30
414    39
415    38
416    30
417    30
Name: Age, Length: 418, dtype: int64

In [25]:
df['Fare'] = df['Fare'].fillna(df['Fare'].mean())

In [27]:
df['Fare'].isnull().sum()

0

In [29]:
df['Fare'] = df['Fare'].apply(np.int64)

In [31]:
df['Fare']

0        7
1        7
2        9
3        8
4       12
      ...
413      8
414    108
415      7
416      8
417     22
Name: Fare, Length: 418, dtype: int64

In [33]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34,0,0,330911,7,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47,1,0,363272,7,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62,0,0,240276,9,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27,0,0,315154,8,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22,1,1,3101298,12,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,30,0,0,A.5. 3236,8,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39,0,0,PC 17758,108,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38,0,0,SOTON/O.Q. 3101262,7,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,30,0,0,359309,8,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,30,1,1,2668,22,NaN,C

In [49]:
from sklearn.preprocessing import LabelEncoder
LabelEncoder = LabelEncoder()

In [51]:
df['Sex_en'] = LabelEncoder.fit_transform(df['Sex'])

In [53]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_en
0,892,0,3,"Kelly, Mr. James",male,34,0,0,330911,7,NaN,Q,1
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47,1,0,363272,7,NaN,S,0
2,894,0,2,"Myles, Mr. Thomas Francis",male,62,0,0,240276,9,NaN,Q,1
3,895,0,3,"Wirz, Mr. Albert",male,27,0,0,315154,8,NaN,S,1
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22,1,1,3101298,12,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,30,0,0,A.5. 3236,8,NaN,S,1
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39,0,0,PC 17758,108,C105,C,0
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38,0,0,SOTON/O.Q. 3101262,7,NaN,S,1
416,1308,0,3,"Ware, Mr. Frederick",male,30,0,0,359309,8,NaN,S,1
417,1309,0,3,"Peter, Master. Michael J",male,30,1,1,2668,22,NaN,C,1

In [55]:
df.drop('Sex', axis=1)

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_en
0,892,0,3,"Kelly, Mr. James",34,0,0,330911,7,NaN,Q,1
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",47,1,0,363272,7,NaN,S,0
2,894,0,2,"Myles, Mr. Thomas Francis",62,0,0,240276,9,NaN,Q,1
3,895,0,3,"Wirz, Mr. Albert",27,0,0,315154,8,NaN,S,1
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",22,1,1,3101298,12,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",30,0,0,A.5. 3236,8,NaN,S,1
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",39,0,0,PC 17758,108,C105,C,0
415,1307,0,3,"Saether, Mr. Simon Sivertsen",38,0,0,SOTON/O.Q. 3101262,7,NaN,S,1
416,1308,0,3,"Ware, Mr. Frederick",30,0,0,359309,8,NaN,S,1
417,1309,0,3,"Peter, Master. Michael J",30,1,1,2668,22,NaN,C,1

In [109]:
X = df.drop(['Survived', 'Cabin', 'Embarked', 'Name', 'Ticket', 'SibSp', 'Parch', 'Sex'], axis=1)

In [111]:
X

     PassengerId  Pclass  Age  Fare  Sex_en
0            892       3   34     7       1
1            893       3   47     7       0
2            894       2   62     9       1
3            895       3   27     8       1
4            896       3   22    12       0
..           ...     ...  ...   ...     ...
413         1305       3   30     8       1
414         1306       1   39   108       0
415         1307       3   38     7       1
416         1308       3   30     8       1
417         1309       3   30    22       1

[418 rows x 5 columns]

In [113]:
Y = df['Survived']

In [115]:
Y

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

In [117]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.30, random_state=101)

In [119]:
X_train.shape

(292, 5)

In [121]:
Y_train.shape

(292,)

In [123]:
X_test.shape

(126, 5)

In [125]:
Y_test.shape

(126,)

In [135]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(max_iter=1000)

In [137]:
model.fit(X_train, Y_train)

LogisticRegression(max_iter=1000)

In [139]:
prediction = model.predict(X_test)

In [141]:
prediction

array([0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1], dtype=int64)

In [143]:
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [145]:
print(classification_report(Y_test, prediction))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        71
           1       1.00      1.00      1.00        55

    accuracy                           1.00       126
   macro avg       1.00      1.00      1.00       126
weighted avg       1.00      1.00      1.00       126

In [147]:
accuracy_score(Y_test, prediction)

1.0

In [149]:
confusion_matrix(Y_test, prediction)

array([[71,  0],
       [ 0, 55]], dtype=int64)